
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.chat-display {
    height: 700px;

    p {
        font-size: 16px;
    }
    .name {
        font-size: 14px;

    }
}

.chat-form textarea {
    resize: none;
}
